{% extends 'base.html' %}

{% block content %}

<br>
<br>
<h2>Name:</h2>
<h2>{{userinfo.name}}</h2>
<br>
<br>
<h2>Email:</h2>
<h2>{{userinfo.email}}</h2>
<br>
<br>
<h2>Phone:</h2>
<h2>{{userinfo.phone}}</h2>
<br>
<br>
<h2>Address:</h2>
<h2>{{userinfo.address1}} {{userinfo.address2}},{{userinfo.city}},{{userinfo.state}},{{userinfo.zip_code}}</h2>
<br>
<br>
<h2>Room:</h2>
<h2>{{report.room}}</h2>
<br>
<h2>Where:</h2>
<h2>{{report.where}}</h2>
<br>
<img src="{{report.image.url}}" alt="" style="height:600px;">
<br>
<br>
<h3>Time Created:</h3>
<h3>{{report.time}}</h3>

{% endblock %}
