{% extends 'base.html' %}

{% block content %}

<h1>When did you notice the problem?</h1>

<form action="" method="post">
  {%csrf_token%}
    <input type="submit" name="when" value="Within 1 Day" />
</form>
<form action="" method="post">
  {%csrf_token%}
    <input type="submit" name="when" value="Within 1 Week" />
</form>
<form action="" method="post">
  {%csrf_token%}
    <input type="submit" name="when" value="Within 1 Month" />
</form>
<form action="" method="post">
  {%csrf_token%}
    <input type="submit" name="when" value="Other" />
</form>



{% endblock %}
