{% extends 'base.html' %}

{% block content %}

<h1>Where is the problem located?</h1>

<form action="" method="post">
  {%csrf_token%}
    <input type="submit" name="where" value="Drain" />
</form>
<form action="" method="post">
  {%csrf_token%}
    <input type="submit" name="where" value="Pipe" />
</form>
<form action="" method="post">
  {%csrf_token%}
    <input type="submit" name="where" value="Water Heater" />
</form>
<form action="" method="post">
  {%csrf_token%}
    <input type="submit" name="where" value="Other" />
</form>

{% endblock %}
