{% extends 'base.html' %}

{% block content %}

{%if error%}
{{error}}
<br>
<br>
{%endif%}

<h1>sign up!</h1>

<form class="" action="" method="post">
  {%csrf_token%}
  Email:
  <br>
  <input type="text" name="email">
  <br>
  Password:
  <br>
  <input type="password" name="password1">
  <br>
  Confirm Password:
  <br>
  <input type="password" name="password2">
  <br>
  Full Name:
  <br>
  <input type="text" name="name">
  <br>
  Phone Number:
  <br>
  <input type="text" name="phone">
  <br>
  Address Line 1:
  <br>
  <input type="text" name="address1">
  <br>
  Address Line 2:
  <br>
  <input type="text" name="address2"
  <br>
  City:
  <br>
  <input type="text" name="city">
  <br>
  State:
  <br>
  <input type="text" name="state">
  <br>
  Zip Code:
  <br>
  <input type="text" name="zip_code"
  <br>
  <br>
  <input class="btn btn-primary" type="submit" name="" value="Sign Up!">


</form>

{% endblock %}
